body {
  background-color: #000;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  width: 100vw;
  margin: 0;
}

#game-board {
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
  background-color: #ccc;
  height: 100vmin;
  width: 100vmin;
  display: grid;
}

.snake {
  background-color: hsl(200, 100%, 50%);
  border: .25vmin solid #000;
}

.food {
  background-color: hsl(50, 100%, 50%);
  border: .25vmin solid #000;
}